
/*nav ul li:hover a {
    color: red;
}
*/

/* Estilo para errores de formularios en Javascript*/
.error {
    color: red;
    display: none;
}

/* Estilo para mensajes de advertencia*/
.warning-message {
    color: blue;
    font-size: 14px;
    margin-top: 5px;
}